/* Importing a New Google Font for the Web Page.*/
@import
url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*
{
  /* will be applicable to the entire webpage */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body
{
  /* will be applicable to the Body Section */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #6e432a, #20190d);
}
.container
{
  /* will be applicable to the container class */
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title
{
  /* will be applicable to the title class under container class */
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before
{
  /* will be applicable before filling up user details */
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details
{
  /* will be applicable after filling up user details */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box
{
  /* will be applicable while filling up user details */
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details
{
  /* will be applicable to input-box class of the form */
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input
{
  /* will be applicable to input-box class of the user details class */
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid
{
  border-color: #9b59b6;
}
 form .gender-details .gender-title
 {
  /* will be applicable to gender-details class of the form */
  font-size: 20px;
  font-weight: 500;
 }
 form .category
 {
   /* will be applicable to category class of the form */
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label
 {
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot
 {
   /* will be applicable to the dot section of category class of the form */
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three
 {
   /* will be applicable to the dot type of the dot section of category class of the form */
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]
 {
   /* will be applicable to the input portion of the form */
   display: none;
 }

 /*form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #6e432a, #20190d);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  /*background: linear-gradient(-135deg, #6e432a, #20190d);
  }*/
  
 @media(max-width: 584px)
 {
   /*checking responsiveness of the form*/
 .container
  {
  max-width: 100%;
  }
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }

  @media(max-width: 459px)
  {
  .container .content .category{
    flex-direction: column;
  }
}

/*pop-up section*/
/* Popup container */
.popup 
{
  /* styling of popup section*/
  text-align: center;
  position: relative;
  display: center;
  cursor: pointer;
  height: 65px;
  margin: auto;
  height: 100%;
  width: 50%;
  border-radius: 25px;
  border: 3px solid rgb(20, 20, 20);
  padding: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #6e432a, #20190d);
  transform: scale(0.99); 
  background: linear-gradient(-135deg, #6e432a, #20190d);
}

/* The actual popup (appears on top) */
.popup .popuptext 
{
  /* styling of popup text section*/
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow Section*/
.popup .popuptext::after 
{
  content: "";
  position: center;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show 
{
  /*showing the popup*/
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn 
{
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn 
{
  from {opacity: 0;}
  to {opacity:1 ;}
}